:root {
  --main-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --second-accent-color: #ffffff;
  --background-secondary-colour: #2F303A;
  --team-section-background: #F5F4FA;
  --social-media-card-color:#AFB1B8;
  --darkest-black:#000000;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, "Sans-serif";
  font-size: 14px;
  background-color: var(--second-accent-color);
  color: var(--main-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.limk {
  text-decoration: none;
}

.container {
  text-align: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  font-family: Raleway;
  font-weight: bold;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.20;
  }
}

.logo--light {
  color: var(--second-accent-color);
}

.logo--dark {
  color: var(--title-text-color);
}

.logo-header {
  color: var(--accent-color);
  padding-bottom: 16px;
  padding-top: 16px;
}

@media (min-width: 768px) {
  .logo-header {
    padding-bottom: 26px;
    padding-top: 26px;
  }
}

.logo--footer {
  margin-bottom: 20px;
  display: inline-block;
  height: 28px;
  width: 154px;
}

.header {
  border: 1px solid #ECECEC;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 84px;
}

.nav-list {
  display: none;
  margin-left: 93px;
  width: 294px;
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

.nav-list__item + .nav-list__item {
  margin-left: 50px;
}

.nav-list__link {
  font-weight: 500;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

@media screen and (min-width: 1200px) {
  .nav-list__link {
    font-size: 16px;
    line-height: 1.17;
  }
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.contacs-header {
  display: none;
  margin-left: auto;
}

@media (min-width: 768px) {
  .contacs-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .contacs-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.contacs-header__link {
  font-weight: 500;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  color: var(--main-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacs-header__link:hover, .contacs-header__link:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .contacs-header__link {
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacs-header__link {
    font-size: 14px;
    line-height: 1.17;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacs-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .contacs-header__item + .contacs-header__item {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacs-header__item + .contacs-header__item {
    margin-left: 50px;
    margin-top: 0;
  }
}

.mailbox {
  margin-right: 10px;
  fill: currentColor;
}

.mailbox:hover, .mailbox:focus {
  fill: var(--accent-color);
}

.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}

.icon-phone + .icon-phone {
  fill: var(--accent-color);
}

.current-page-main {
  position: relative;
}

.current-page-main::after {
  content: "";
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  width: 48px;
  height: 4px;
  bottom: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.current-page-port {
  position: relative;
}

.current-page-port::after {
  content: "";
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  width: 78px;
  height: 4px;
  bottom: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu-button-open {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button-open {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-right: 83px;
  padding-bottom: 48px;
  padding-left: 40px;
  background-color: var(--second-accent-color);
}

.mob-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: var(--title-text-color);
  border: none;
  background-color: transparent;
}

.nav-mob-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-mob-list__link:hover, .nav-mob-list__link:focus {
  color: var(--accent-color);
}

.nav-mob-list__item + .nav-mob-list__item {
  margin-top: 32px;
}

.contacs-header-mob {
  margin-top: auto;
  margin-bottom: 64px;
}

.contacs-header-mob__phone {
  margin-bottom: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 24);
  /* identical to box height */
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.contacs-header-mob__phone:hover, .contacs-header-mob__phone:focus {
  color: var(--accent-color);
}

.contacs-header-mob__mail {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.contacs-header-mob__mail:hover, .contacs-header-mob__mail:focus {
  color: var(--accent-color);
}

.social-mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media (max-width: 420px) {
  .social-mob {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.social-mob__item {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
}

.social-mob__item:last-child {
  margin-right: 0;
}

.social-mob__item:first-child {
  border-left: none;
  padding-left: 0;
}

.social-mob__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22/ 18);
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-mob__link:hover, .social-mob__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.hero {
  background-color: var(--background-secondary-colour);
  padding-bottom: 118px;
  padding-top: 118px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/tel-hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tel-hero.jpg);
  background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/tel-hero-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tel-hero-2x.jpg);
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    width: 768px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/tab-hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tab-hero.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/tab-hero-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/tab-hero-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/image1.png);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/image1.png);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(/images/lap-hero-2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/lap-hero-2x.jpg);
  }
}

.hero__container {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hero__container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__container {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero__title {
  display: block;
  font-weight: 900;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-transform: uppercase;
  text-align: center;
  color: var(--second-accent-color);
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  letter-spacing: 0.06em;
}

@media (min-width: 768px) {
  .hero__title {
    width: 360px;
  }
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    height: 120px;
  }
}

.hero__button {
  display: inline-block;
  font-family: Roboto, "Sans-serif";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0;
  border-radius: 3px;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  min-width: 200px;
}

/*----------------------FEATURE-SECTION---------------------*/
.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features-list {
  margin-bottom: -30px;
}

@media (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features-list__title {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}

.features-list__description {
  color: var(--main-color);
  text-align: left;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
}

@media (min-width: 1200px) {
  .features-list__description {
    height: 75px;
  }
}

.features-list__item {
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
  height: 226px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .features-list__item {
    width: calc((100% - 30px) / 2);
  }
  .features-list__item:nth-of-type(2n) {
    margin-left: 30px;
  }
  .features-list__item:nth-of-type(-n + 2) {
    height: 251px;
  }
}

@media (min-width: 1200px) {
  .features-list__item {
    width: calc((100% - 90px) / 4);
    height: 251px;
    width: 270px;
  }
  .features-list__item:nth-of-type(n+2) {
    margin-left: 30px;
  }
}

.svg-img-container {
  width: 100%;
  min-height: 120px;
  background-color: var(--team-section-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.features-svg {
  height: 70px;
}

.activity {
  display: none;
  padding-bottom: 94px;
}

@media (min-width: 1200px) {
  .activity {
    display: block;
  }
  .activity__title {
    font-weight: bold;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 50px;
  }
}

.activity-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.activity-wrapper__img {
  display: block;
  max-width: 100%;
}

.activity-wrapper__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16/14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accent-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.activity-list__item + .activity-list__item {
  margin-left: 30px;
}

.team {
  background-color: var(--team-section-background);
  padding-bottom: 60px;
  padding-top: 60px;
}

@media (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.team__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

@media (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -30px;
  }
}

.team-list__item {
  background-color: var(--second-accent-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .team-list__item:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    width: calc((100% - 30px ) / 2);
  }
  .team-list__item:nth-of-type(2n) {
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 90px) / 4);
  }
  .team-list__item + .team-list__item {
    margin-left: 30px;
  }
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-list__profesion {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 16px;
}

.team-list__content {
  padding-bottom: 24px;
  padding-top: 30px;
  text-align: center;
}

@media (min-width: 1200px) {
  .team-list__content {
    padding-bottom: 30px;
  }
}

.card-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-media-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-media-list__item + .card-media-list__item {
  margin-left: 10px;
}

.card-media-list__link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  color: var(--social-media-card-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-media-list__link:hover, .card-media-list__link:focus {
  background-color: var(--accent-color);
  color: var(--second-accent-color);
}

.media-icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */
}

@media (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 42px;
  }
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients-list__item {
  width: calc((100% - 30px) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--social-media-card-color);
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .clients-list__item:nth-of-type(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
  .clients-list__item:nth-of-type(3n+2) {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .clients-list__item {
    width: calc((100% - 150px) / 6);
  }
  .clients-list__item + .clients-list__item {
    margin-left: 30px;
    margin-right: 0;
  }
  .clients-list__item:first-child {
    margin-left: 0;
  }
}

.clients-list__link {
  color: var(--social-media-card-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
  cursor: pointer;
  border-color: var(--accent-color);
}

.clients-list__logo {
  fill: currentColor;
}

.footer {
  background-color: var(--background-secondary-colour);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width: 767px) {
  .footer-form-container {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer-form-container {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-container {
    text-align: left;
  }
}

.footer-form-container__title {
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accent-color);
}

.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .container--footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 76px;
    padding-right: 89px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .container--footer {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.footer-contacs {
  width: 231px;
}

@media (min-width: 1200px) {
  .footer-contacs {
    margin-right: 70px;
    text-align: left;
  }
}

address {
  margin-bottom: 60px;
  width: 232px;
}

@media screen and (min-width: 1200px) {
  address {
    width: 231px;
  }
}

.address-list__location {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--second-accent-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__location:hover, .address-list__location:focus {
  color: var(--accent-color);
}

.address-list__contacs {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__contacs:focus, .address-list__contacs:hover {
  color: var(--accent-color);
}

.address-list__item {
  margin-bottom: 8px;
  height: 21px;
  width: 232px;
}

@media (min-width: 1200px) {
  .address-list__item {
    text-align: left;
    width: 231px;
  }
}

.address-list__item:nth-child(3) {
  margin-bottom: 0;
}

.footer-media {
  margin-bottom: 60px;
}

@media (min-width: 1200px) {
  .footer-media {
    margin-right: 93px;
    text-align: left;
  }
}

.footer-media__description {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accent-color);
  margin-bottom: 20px;
}

.footer-media-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-media-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-media-list__item + .footer-media-list__item {
  margin-left: 10px;
}

.footer-media-list__link {
  color: var(--second-accent-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-media-list__link:hover, .footer-media-list__link:focus {
  background-color: var(--accent-color);
  color: var(--second-accent-color);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .footer-form {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer-form__label {
  width: 100%;
}

@media (min-width: 767px) and (max-width: 1199px) {
  .footer-form__label {
    width: 450px;
  }
}

.footer-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  padding-left: 29px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: var(--second-accent-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .footer-form__submit {
    margin-left: 12px;
  }
}

.footer-form__svg {
  margin-left: 10px;
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    height: 50px;
    margin-bottom: 0;
  }
}

.footer-form:focus {
  outline: none;
}

.footer-form::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(20 /16);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(20 /16);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(20 /16);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: calc(20 /16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.portfolio {
  padding-bottom: 60px;
  padding-top: 60px;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 362px;
}

@media (min-width: 768px) {
  .portfolio-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.portfolio-list__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--team-section-background);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding-left: 22px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shaodw 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shaodw 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list__button:focus, .portfolio-list__button:hover {
  background-color: var(--accent-color);
  color: var(--second-accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list__item {
  margin-right: 8px;
  height: 38px;
}

.portfolio-list__item:nth-child(3) {
  margin-right: 0;
}

.portfolio-list__item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .portfolio-list__item + .portfolio-list__item {
    margin-left: 8px;
  }
  .portfolio-list__item {
    margin-bottom: 16px;
    margin-right: 0;
  }
}

.currrent-bottom {
  background-color: var(--accent-color);
  color: var(--second-accent-color);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shaodw 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shaodw 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.currrent-bottom:hover, .currrent-bottom:focus {
  background-color: var(--accent-color);
  color: var(--second-accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
}

.portfolio-cards-list__title {
  font-weight: bold;
  font-size: 18px;
  line-height: calc(36 / 18);
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .portfolio-cards-list__title {
    width: 306px;
  }
}

.portfolio-cards-list__text {
  font-size: 16px;
  line-height: calc(30 /16);
  color: inherit;
  letter-spacing: 0.03em;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.portfolio-cards-list__item {
  width: 100%;
  margin-bottom: 30px;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .portfolio-cards-list__item {
    width: 354px;
  }
  .portfolio-cards-list__item:nth-of-type(2n) {
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .portfolio-cards-list__item {
    margin-right: 30px;
    width: 370px;
  }
}

.portfolio-cards-list__item:nth-of-type(3n) {
  margin-right: 0;
}

.portfolio-cards-list__content {
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #EEEEEE;
  border-top: none;
  padding-left: 24px;
  padding-right: 24px;
  text-align: left;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .portfolio-cards-list__content {
    height: 146px;
  }
}

.portfolio-cards-list__link {
  display: inline-block;
  width: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-cards-list__link:focus, .portfolio-cards-list__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-cards-list__link:focus .portfolio-overlay__text, .portfolio-cards-list__link:hover .portfolio-overlay__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-overlay__text {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  font-weight: normal;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--second-accent-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay__text {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  font-weight: normal;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--second-accent-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 94px;
  padding-top: 93px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .back-drop {
    padding: 0;
  }
}

.is-hidden .modal {
  -webkit-transform: scale(0.2) rotate(-45deg);
          transform: scale(0.2) rotate(-45deg);
}

.modal {
  position: relative;
  width: 100%;
  height: 609px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--second-accent-color);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__caption {
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

@media screen and (min-width: 1200px) {
  .modal__caption {
    font-size: 20px;
    line-height: calc(23 / 20);
  }
}

.modal-form__consent-checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.modal-form__consent-checkbox:focus + .checkbox-icon {
  border: 2px solid var(--accent-color);
  cursor: pointer;
}

.modal-form__button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--second-accent-color);
  color: var(--darkest-black);
}

.modal-form__button:hover {
  cursor: pointer;
}

.modal-form__button:hover .icon-cross, .modal-form__button:focus .icon-cross {
  fill: var(--accent-color);
}

.modal-form__submit {
  display: block;
  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--second-accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal-form__submit:hover {
  cursor: pointer;
}

.modal-form__consent-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: var(--main-color);
}

@media screen and (min-width: 1200px) {
  .modal-form__consent-label {
    line-height: calc(24 / 14);
    font-size: 14px;
  }
}

.modal-form__textarea-label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.modal-form__textarea-input {
  display: block;
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal-form__textarea-input {
    width: 448px;
  }
}

.modal-form__textarea-input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea-input:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea-input::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea-input:focus {
  border-color: var(--accent-color);
}

.modal-form_submit {
  display: block;
  padding-left: 56px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  background: var(--accent-color);
  color: var(--second-accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal-form__label {
  position: relative;
  display: block;
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.icon-cross {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 11px;
  width: 11px;
  fill: inherit;
}

.form-field {
  position: relative;
  margin-bottom: 10px;
}

.form-field__input {
  display: block;
  padding-left: 41px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .form-field__input {
    width: 448px;
  }
}

.form-field__input:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.form-field__input:focus + .form-icon {
  fill: var(--accent-color);
}

.consent-link {
  display: inline-block;
  text-decoration: underline;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .consent-link {
    font-size: 14px;
    line-height: calc(24 /14);
  }
}

.checkbox-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  background-color: transparent;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */