/* -----------------SETTINGS------------------*/

:root{
    --main-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --second-accent-color: #ffffff;
    --background-secondary-colour: #2F303A;
    --team-section-background: #F5F4FA;
    --social-media-card-color:#AFB1B8;
    --darkest-black:#000000;

}
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;
    padding:0;
}

body{
        font-family: Roboto, "Sans-serif";
        font-size: 14px;
        line-height:1.71;
        color:var(--main-color);
}

img{
    display: block;
    max-width: 100%;

}
p{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
body{
    font-family: Roboto, "Sans-serif";
    font-size: 14px;
    background-color: var(--second-accent-color);
    color:var(--main-color)
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.limk{
    text-decoration: none;
}
.container{
    text-align: center;
    width:1200px;
    padding-right:15px;
    padding-left: 15px;
    margin: 0 auto;
  
    
}
.footer > .container{
    text-align: left;
    width:1200px;
    padding-right:15px;
    padding-left: 15px;
    margin: 0 auto;
}

/*-----------------LOGOS---------------------*/
.logo{
    color:var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.20;

    letter-spacing: 0.03em;
    padding-bottom: 24px;
    padding-top: 24px;
   
}
.footer-address > .logo{
    color:var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.20;

    letter-spacing: 0.03em;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.logo-2{
    color:var(--title-text-color)
}
.logo-3{
    color:var(--second-accent-color)
}

/*-----------------Header-----------------*/
.title-head{
    font-weight: 500;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.17;
    color: var(--title-text-color);
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    position: relative;
}
.page-header{
    border: 1px solid #ECECEC;
}
.current{
    color: var(--accent-color);
}
.contacs-header-link{
    font-weight: 500;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.17;
    color:var(--main-color);
    display:flex;
    align-items: center;

    padding-bottom: 32px;
    padding-top: 32px;
    transition: color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacs-header-link:hover,
.title-head:hover,
.title-head:focus,
.contacs-header-link:focus{
    color: var(--accent-color);
}


.contacs-header-item{
    display: flex;
    align-items: center;
}
.mailbox{
    margin-right: 10px;
    fill: currentColor;
  
}
.mailbox:hover,
.mailbox:focus{
    fill:var(--accent-color);
}
.icon-phone{
    margin-right: 10px;
    fill: currentColor;

}
.icon-phone:focus,.icon-phone:hover{
    fill:var(--accent-color);
}

.current-page-main{
    position: relative;
}

.current-page-main::after{
    content:"";
    background-color:var(--accent-color);
    border-radius: 2px;
    position: absolute;
    width:48px;
    height:4px;
    bottom:-1px;
    left:50%;
    transform: translateX(-50%);

}
.current-page-port{
    position: relative;
}
.current-page-port::after{
    content:"";
    background-color:var(--accent-color);
    border-radius: 2px;
    position: absolute;
    width:78px;
    height:4px;
    bottom:-1px;
    left:50%;
    transform: translateX(-50%);
}
/*------------------------HERO SECTION-----------------*/
.section-hero{
    background-color: var(--background-secondary-colour);
    padding-bottom: 200px;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background:linear-gradient(
        rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/image1.png);
        max-width: 1600px;
        background-repeat: no-repeat;
    
    
  

    

}
.hero-container{
    width:696px;

}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    color: var(--second-accent-color);

    margin-bottom: 30px;

    letter-spacing: 0.06em;
    
}
.hero-button{
    font-family: Roboto, "Sans-serif";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-accent-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border:0;
    border-radius: 3px;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
}
/*----------------------FEATURE-SECTION---------------------*/
.features-title{
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color);

    margin-bottom: 10px;

}
.section-feature{
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-description{
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.features-item{
    width:270px;
    height: 251px;
    text-align:left;
}


.features-item:nth-of-type(n+2){
    margin-left: 30px;
}

.features-list{
    display:flex;
}

.features-item{
    text-align: start;
}




.features-list{
    display:flex
}
    
.svg-img-container{
    width: 270px;
    min-height: 120px;
    background-color:var(--team-section-background);
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
}
.features-svg{
    height: 70px;
}
/*----------------------------ACTIVITY SECTION----------------------------*/

.activity{
    padding-bottom: 94px;
}

.activity img{
    display: block;
    max-width: 100%;


}
.activity-wrapper{
    position: relative;
    display: flex;
    align-items:flex-end;

}
.activity-overlay{
    position:absolute;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;


    width:100%;
    height:70px;
    text-align: center;




    font-weight: bold;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--second-accent-color);
    background-color: rgba(47, 48, 58, 0.8);

}

.activity-title{
    font-weight: bold;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color);

    margin-bottom: 50px;



}
.activity-list{
    display:flex;
    justify-content: center;

}
.activity-item + .activity-item{
    margin-left:30px;
}


/*------------------------------TEAM SECTION--------------------------------------*/
.team{
    background-color: var(--team-section-background);
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-list{
    display:flex;
}
.team-item + .team-item{
    margin-left: 30px;
}

.team-title{
    font-weight: bold;
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color);
margin-bottom: 50px;


}
.team-item{
    background-color:var(--second-accent-color) ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
}
.team-name{
    font-weight: 500;
font-size: 16px;
line-height: calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color);
margin-bottom:10px;
}
.team-profesion{
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-color);

    margin-bottom: 16px;
}
.team-title{
    font-weight: bold;
    font-size: 36px;
    line-height:calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color);

    margin-bottom: 50px;
}

.team-item-cont{
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 32px;
    padding-right: 32px;
}
.card-media-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-media-item +.card-media-item{
    margin-left: 10px;
}
.card-media-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-social-link{
    border-radius:50%;
    width:44px;
    height:44px;
    background-color:transparent;
    border: none;
    color:var(--social-media-card-color);
    display:flex;
    align-items: center;
    justify-content: center;
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.card-social-link:hover,.card-social-link:focus{
    background-color: var(--accent-color);
    color: var(--second-accent-color);

}
.card-icon{
    fill:currentColor;
}
/*---------------------------------CLIENTS SECTION-------------------------*/
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list{
    display: flex;
    align-items: center;
    justify-content: center;

}
.title-clients{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 50px;
}
.clients-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--social-media-card-color)
}
.clients-link{
    color: var(--social-media-card-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.clients-item + .clients-item{
    margin-left: 30px;
}
.clients-link:hover,.clients-link:focus{
    color: var(--accent-color);
    cursor: pointer;
    border-color: var(--accent-color);
}

.logo-item{
    fill:currentColor
}

/*---------------------------------FOOTER SECTION---------------------------*/

.footer{
    background-color:var(--background-secondary-colour);
}
.footer-form-container{
    margin-left: 93px;
}
.footer-address{
    width:231px;
}
.address-location{
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color:var(--second-accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.contacs-address{
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item{
    margin-bottom: 9px;
}
.contacs-address:focus,
.contacs-address:hover,
.address-location:focus,
.address-location:hover{
    color:var(--accent-color);
}
.address-item:nth-child(3){
    margin-bottom: 0;
}
.social-description{
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--second-accent-color);

    margin-bottom: 20px;

    
    
}
.footer-container{
    display: flex;
    align-items: baseline;
    padding-left: 0;
}
.social-media-footer{
    margin-left: 70px;
  
    
}

.footer-media-list{
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-media-item-foot +.card-media-item-foot{
    margin-left: 10px;
}

.card-link-foot{
    color:var(--second-accent-color);
    border-radius:50%;
    width:44px;
    height:44px;
    background-color: transparent;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.card-icon-foot{
    fill:currentColor;
}

.card-link-foot:hover,.card-link-foot:focus{
    background-color: var(--accent-color);
    color: var(--second-accent-color);
}
.card-media-item-foot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-form{
    display: flex;
}

.footer-submit{
    margin-left:12px;
    display: flex;
    width: 200px;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    
    color:var(--second-accent-color);
    
    background:var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.foot-svg{
    margin-left:10px;

}
.footer-form-title{
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: var(--second-accent-color);
}
.footer-input{
    width: 358px;
    height: 50px;
    padding-left: 16px;
    
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
 
}

.footer-input:focus{
    outline:none;
}
.footer-input::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: calc(20 /16);
    
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
/*----------------------------PORTFOLIO SECTION-----------------------------*/

.button-port{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--team-section-background);
    cursor: pointer;
    border:none;
    padding-left: 22px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color cubic-bezier(0.4, 0, 0.2, 1) 250ms, box-shaodw 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-list{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-item + .portfolio-item{
    margin-left:8px;

    

}
.currrent-bottom{
    background-color: var(--accent-color);
    color:var(--second-accent-color);
    transition: background-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shaodw 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-port:hover,
.button-port:focus,.current-button:focus,.current-button:hover
{
    background-color: var(--accent-color);
    color:var(--second-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card-title{
    font-weight: bold;
    font-size: 18px;
    line-height: calc(36 / 18);
    color:var(--title-text-color);
    letter-spacing: 0.03em;
}

.portfolio-cards-text{
    font-size: 16px;
    line-height: calc(30 /16);
    color:inherit;
    letter-spacing: 0.03em;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    color: var(--main-color);




}
.portfolio-cards-list{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
}
.portfolio-cards-item{
    width: 370px;

    margin-right: 30px;
    margin-bottom: 30px;
  
}
.portfolio-cards-item:nth-of-type(3n){
    margin-right: 0;
}
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-card-text{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
    border-top: none;
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
}
.port-link{
    display:inline-block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port-link:hover,
.port-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port-img-text{
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    padding-top:63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;
   
    font-size: 18px;
    font-weight:normal;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    text-align: left;
    color:var(--second-accent-color);
    background-color:rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}
.portfolio-overlay{
    position:relative;
    overflow: hidden;

}

.port-link:focus .port-img-text,
.port-link:hover .port-img-text
{
    transform: translateY(0);
}
/*--------------FLEX CONTAINER-----------------------------*/
.title-head-list{
    display: flex;
    margin-left: 93px;

}
.navigation-header{
    display:flex;
    align-items: center;
}
.header-nav-item + .header-nav-item {
    margin-left:50px;
}
.contacs-header{
    display:flex;
    margin-left: auto;
}
.header-container{
    display:flex;
}
.features-title{
    margin-bottom: 10px;
}


.features-list{
    display:flex
    
}
.contacs-header-item+.contacs-header-item{
    margin-left: 50px;
}
    
.footer-logo{
    display:block;
    margin-bottom: 20px;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-secondary-colour);
}
/*-------------------BACK DROP----------------------*/
.back-drop{
    position:fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    

    background-color: rgba(0, 0, 0, 0.2);
    opacity:1;
    transition: opacity  250ms cubic-bezier(0.4, 0, 0.2, 1) , visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border:0;
        padding: 0;
        clip: rect(0,0,0,0);
        overflow: hidden;
        white-space: nowrap;
        clip-path: inset(50%);
        overflow: hidden;
    
    }


.is-hidden .modal{
    transform: scale(0.2) rotate(-45deg);
}
.modal{
    position:absolute;
    width: 528px;
    min-height: 581px;
    padding-left:40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1.0) rotate(0deg);
    transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--second-accent-color);


}
.modal-button{
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 8px;
    top:8px;
    height:30px;
    width:30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--second-accent-color);
    color:var(--darkest-black);

}
.modal-button:hover{
    cursor:pointer;
}
.icon-cross{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .icon-cross,.modal-button:focus .icon-cross{
    fill: var(--accent-color);
}


.form-caption{
    margin-bottom: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color);
}
.label-form{
    position:relative;
    display: block;
    margin-bottom: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: calc(14 / 12);
    
    
    letter-spacing: 0.01em;
    color: var(--main-color);
}
.form-field{
    position: relative;
    margin-bottom: 10px;
}
.form-input{
    display: block;
    padding-left: 41px;
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.icon-cross{
    height:11px;
    width:11px;
    fill:inherit;

}

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    

}

.name-icon{
    position: absolute;
    left: 12px;
    top:50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-icon{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.form-input:focus{
    border-color: var(--accent-color);
    outline: var(--accent-color);
}

.name-input:focus + .name-icon{
    fill: var(--accent-color);
}

.form-input:focus + .tel-icon{
    fill: var(--accent-color);
}
.form-input:focus + .mail-icon{
    fill: var(--accent-color);
}

.textarea-label{
    margin-bottom: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: calc(14 / 12);
    
    letter-spacing: 0.01em;
    
    color: var(--main-color);
}
.textarea-input{
    display: block;
    width: 448px;
    height: 120px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.textarea-input:focus{
    border-color: var(--accent-color);
}
.textarea-input::placeholder{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
   
    color: rgba(117, 117, 117, 0.5);
}
.consent-label{
    display:flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(24 /14);
    
    
    letter-spacing: 0.03em;
    
    color: var(--main-color);
}
.consent-link{
    display:inline-block;
    text-decoration: underline;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: calc(24 /14);
    
    
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.checkbox-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
    background-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.consent-checkbox:checked + .checkbox-icon {
    background-color: var(--accent-color);
    border: 2px solid var(--accent-color);
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;
    
}
.consent-checkbox:focus + .checkbox-icon{
    border: 2px solid var(--accent-color);
    сursor:pointer;
}





.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border:0;
    padding: 0;
    clip: rect(0,0,0,0);
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(50%);
    overflow: hidden;

}
.modal-submit{
    display: block;
    padding-left: 56px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: calc(30 / 16);
    

    letter-spacing: 0.06em;

    background: var(--accent-color);
    color: var(--second-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border:none
}

.modal-submit:hover{
    cursor:pointer;
}