/* -----------------SETTINGS------------------*/

:root{
    --main-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --second-accent-color: #ffffff;
}


body{
        font-family: Roboto, "Sans-serif";
        font-size: 14px;
        line-height:1.71;
        color:var(--main-color);
}

    
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.section-dark{
    background-color: #2F303A;
}
   
/* -----------------------HEADER-------------------------*/

}

.title-head{
    font-weight: 500;
    font-size: 14px;
    line-height:calc(16 / 14);
    letter-spacing: 0.02em; 
    color: var(--title-text-color);
   

}
.contacs{
   
    font-weight: 500;
    font-size: 14px;
    line-height:calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-color);
  
}
.contacs-2{
    
    font-size: 14px;
    line-height:calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.contacs:hover,
.title-head:hover,
.title-head:focus,
.contacs:focus,
.contacs-2:focus,
.contacs-2:hover{
    color: var(--accent-color);
}

/*-----------------------------------LOGOS-----------------------------*/
.logo-1{
    font-family: Raleway,"Sans-serif";
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color:var(--accent-color);

}
.logo-2{
   
    color:var(--title-text-color);
    font-family: Raleway, "Sans-serif";
    font-weight: bold;
    font-size: 26px;
    line-height:calc(31 /26);
    letter-spacing: 0.03em;


}
.logo-3{
    font-family: Raleway, "Sans-serif";
    font-weight: bold;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--second-accent-color);



/* ---------------------HERO SECTION-------------------------*/

.hero-title{
    color: var(--second-accent-color);
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button{
    font-weight: bold;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.section-dark{
    background-color: #2F303A;
}
.sub-title{
   font-weight: bold;
   font-size: 14px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--title-text-color);
}
.description-p{
   font-size: 14px;
   line-height: (24 / 14);
   letter-spacing: 0.03em;
}
.title-2{
    
    
    font-weight: bold;
    font-size: 36px;
    line-height:(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color);
}
.card-title{
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-text-color);
}
.card-p-main{
font-size: 16px;
line-height: calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
}
.cards{
    text-align: center;
}
.title-card-port{
    
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color);
}
.card-p-port{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height:calc(30 / 16);
letter-spacing: 0.03em;
}
.address{
    color: var(--second-accent-color);
    font-family: Roboto;
    font-size: 14px;
    line-height:calc(24 / 14);
    letter-spacing: 0.03em;

}
/* -------------------------------------Buttons--------------------------------------*/

.button-port{
    font-family:Roboto , "Sans-serif";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    
}
.button-port:hover,.button-port:focus{
    color:var(--accent-color);
}
button{
    cursor: pointer;
}
