/* -----------------SETTINGS------------------*/

:root{
    --main-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --second-accent-color: #ffffff;
    --background-secondary-colour: #2F303A;
    --team-section-background: #F5F4FA;
    --social-media-card-color:#AFB1B8;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;
    padding:0;
}

body{
        font-family: Roboto, "Sans-serif";
        font-size: 14px;
        line-height:1.71;
        color:var(--main-color);
}

img{
    display: block;
    max-width: 100%;

}
p{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
body{
    font-family: Roboto, "Sans-serif";
    font-size: 14px;
    background-color: var(--second-accent-color);
    color:var(--main-color)
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.limk{
    text-decoration: none;
}
.container{
    text-align: center;
    width:1200px;
    padding-right:15px;
    padding-left: 15px;
    margin: 0 auto;
  
    
}
.footer > .container{
    text-align: left;
    width:1200px;
    padding-right:15px;
    padding-left: 15px;
    margin: 0 auto;
}

/*-----------------LOGOS---------------------*/
.logo{
    color:var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.20;

    letter-spacing: 0.03em;
    padding-bottom: 24px;
    padding-top: 24px;
   
}
.footer-address > .logo{
    color:var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.20;

    letter-spacing: 0.03em;
    margin-bottom: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.logo-2{
    color:var(--title-text-color)
}
.logo-3{
    color:var(--second-accent-color)
}

/*-----------------Header-----------------*/
.title-head{
    font-weight: 500;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.17;
    color: var(--title-text-color);
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
}
.page-header{
    border: 1px solid #ECECEC;
}
.current{
    color: var(--accent-color);
}
.contacs-header-link{
    font-weight: 500;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.17;
    color:var(--main-color);
    display:flex;
    align-items: center;

    padding-bottom: 32px;
    padding-top: 32px;
}

.contacs-header-link:hover,
.title-head:hover,
.title-head:focus,
.contacs-header-link:focus{
    color: var(--accent-color);
}


.contacs-header-item{
    display: flex;
    align-items: center;
}
.mailbox{
    margin-right: 10px;
    fill: currentColor;
    
}
.mailbox:hover,
.mailbox:focus{
    fill:var(--accent-color);
}
.icon-phone{
    margin-right: 10px;
    fill: currentColor;

}
.icon-phone:focus,.icon-phone:hover{
    fill:var(--accent-color);
}

/*------------------------HERO SECTION-----------------*/
.section-hero{
    background-color: var(--background-secondary-colour);
    padding-bottom: 200px;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background:linear-gradient(
        rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/image1.png);
        max-width: 1600px;
        background-repeat: no-repeat;
    
    
  

    

}
.hero-container{
    width:696px;

}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    color: var(--second-accent-color);

    margin-bottom: 30px;

    letter-spacing: 0.06em;
    
}
.hero-button{
    font-family: Roboto, "Sans-serif";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-accent-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border:0;
    border-radius: 3px;
    padding-left: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 32px;
}
/*----------------------FEATURE-SECTION---------------------*/
.features-title{
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color);

    margin-bottom: 10px;

}
.section-feature{
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-description{
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-color);
}

.features-item{
    width:270px;
    height: 251px;
    text-align:left;
}


.features-item:nth-of-type(n+2){
    margin-left: 30px;
}

.features-list{
    display:flex;
}

.features-item{
    text-align: start;
}




.features-list{
    display:flex
}
    
.svg-img-container{
    width: 270px;
    min-height: 120px;
    background-color:var(--team-section-background);
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 30px;
}
.features-svg{
    height: 70px;
}
/*----------------------------ACTIVITY SECTION----------------------------*/

.activity{
    padding-bottom: 94px;
}

.activity img{
    display: block;
    max-width: 100%;

}

.activity-title{
    font-weight: bold;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color);

    margin-bottom: 50px;



}
.activity-list{
    display:flex;
    justify-content: center;

}
.activity-item + .activity-item{
    margin-left:30px;
}


/*------------------------------TEAM SECTION--------------------------------------*/
.team{
    background-color: var(--team-section-background);
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-list{
    display:flex;
}
.team-item + .team-item{
    margin-left: 30px;
}

.team-title{
    font-weight: bold;
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color);
margin-bottom: 50px;


}
.team-item{
    background-color:var(--second-accent-color) ;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
}
.team-name{
    font-weight: 500;
font-size: 16px;
line-height: calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color);
margin-bottom:10px;
}
.team-profesion{
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-color);

    margin-bottom: 16px;
}
.team-title{
    font-weight: bold;
    font-size: 36px;
    line-height:calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color);

    margin-bottom: 50px;
}

.team-item-cont{
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 32px;
    padding-right: 32px;
}
.card-media-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-media-item +.card-media-item{
    margin-left: 10px;
}
.card-media-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-social-link{
    border-radius:50%;
    width:44px;
    height:44px;
    background-color:transparent;
    border: none;
    color:var(--social-media-card-color);
    display:flex;
    align-items: center;
    justify-content: center;

}

.card-social-link:hover,.card-social-link:focus{
    background-color: var(--accent-color);
    color: var(--second-accent-color);

}
.card-icon{
    fill:currentColor;
}
/*---------------------------------CLIENTS SECTION-------------------------*/
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list{
    display: flex;
    align-items: center;
    justify-content: center;

}
.title-clients{
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 50px;
}
.clients-item{
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--social-media-card-color)
}
.clients-link{
    color: var(--social-media-card-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100%;

}
.clients-item + .clients-item{
    margin-left: 30px;
}
.clients-item:hover .clients-link,.clients-item:focus .clients-link{
    color: var(--accent-color);
    cursor: pointer;
}
.clients-item:hover ,.clients-item:focus{
    border-color: var(--accent-color);
    color: var(--accent-color);
    cursor: pointer;
}
.logo-item{
    fill:currentColor
}
.
/*---------------------------------FOOTER SECTION---------------------------*/

.footer{
    background-color:var(--background-secondary-colour);
}

.address-location{
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color:var(--second-accent-color)
    
}

.contacs-address{
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.address-item{
    margin-bottom: 9px;
}
.contacs-address:focus,
.contacs-address:hover,
.address-location:focus,
.address-location:hover{
    color:var(--accent-color);
}
.address-item:nth-child(3){
    margin-bottom: 0;
}
.social-description{
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--second-accent-color);

    margin-bottom: 20px;

    
    
}
.footer-container{
    display: flex;
    align-items: baseline;
}
.social-media-footer{
    margin-left: 70px;
  
    
}
.social-media-footer{
}
.footer-media-list{
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-media-item-foot +.card-media-item-foot{
    margin-left: 10px;
}

.card-link-foot{
    color:var(--second-accent-color);
    border-radius:50%;
    width:44px;
    height:44px;
    background-color: transparent;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

}

.card-icon-foot{
    fill:currentColor;
}

.card-link-foot:hover,.card-link-foot:focus{
    background-color: var(--accent-color);
    color: var(--second-accent-color);
}
.card-media-item-foot{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*----------------------------PORTFOLIO SECTION-----------------------------*/

.button-port{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--team-section-background);
    cursor: pointer;
    border:none;
    padding-left: 22px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
}
.portfolio-list{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio-item + .portfolio-item{
    margin-left:8px;

    

}
.currrent-bottom{
    background-color: var(--accent-color);
    color:var(--second-accent-color);
}


.button-port:hover,
.button-port:focus,.current-button:focus,.current-button:hover
{
    background-color: var(--accent-color);
    color:var(--second-accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card-title{
    font-weight: bold;
    font-size: 18px;
    line-height: calc(36 / 18);
    color:var(--title-text-color);
    letter-spacing: 0.03em;
}

.portfolio-cards-text{
    font-size: 16px;
    line-height: calc(30 /16);
    color:inherit;
    letter-spacing: 0.03em;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    color: var(--main-color);




}
.portfolio-cards-list{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
}
.portfolio-cards-item{
    width: 370px;

    margin-right: 30px;
    margin-bottom: 30px;
  
}
.portfolio-cards-item:nth-of-type(3n){
    margin-right: 0;
}
.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}
.portfolio-card-text{
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
    border-top: none;
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
}
.portfolio-cards-item:hover,.portfolio-cards-item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*--------------FLEX CONTAINER-----------------------------*/
.title-head-list{
    display: flex;
    margin-left: 93px;

}
.navigation-header{
    display:flex;
    align-items: center;
}
.header-nav-item + .header-nav-item {
    margin-left:50px;
}
.contacs-header{
    display:flex;
    margin-left: auto;
}
.header-container{
    display:flex;
}
.features-title{
    margin-bottom: 10px;
}


.features-list{
    display:flex
    
}
.contacs-header-item+.contacs-header-item{
    margin-left: 50px;
}
    
.footer-logo{
    display:block;
    margin-bottom: 20px;
}
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-secondary-colour);
}