/* -----------------SETTINGS------------------*/

:root{
    --main-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --second-accent-color: #ffffff;
}


body{
        font-family: Roboto, "Sans-serif";
        font-size: 14px;
        line-height:1.71;
        color:var(--main-color);
}

    
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: Roboto, "Sans-serif";
    font-size: 14px;
    background-color: var(--second-accent-color);
    color:var(--main-color)
}

.list{
    list-style: none;
}
.limk{
    text-decoration: none;
}

/*-----------------LOGOS---------------------*/
.logo{
    color:var(--accent-color)
}
.logo-2{
    color:var(--title-text-color)
}
.logo-3{
    color:var(--second-accent-color)
}

/*-----------------Header-----------------*/
.title-head{
    font-weight: 500;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.17;
    color: var(--title-text-color);
}
.contacs-header-link{
    font-weight: 500;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.17;
    color:var(--main-color)
}

.contacs-header-link:hover,
.title-head:hover,
.title-head:focus,
.contacs-header-link:focus{
    color: var(--accent-color);
}