/* -----------------SETTINGS------------------*/

:root{
    --main-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --second-accent-color: #ffffff;
    --background-secondary-colour: #2F303A;
    --team-section-background: #F5F4FA;
}


body{
        font-family: Roboto, "Sans-serif";
        font-size: 14px;
        line-height:1.71;
        color:var(--main-color);
}

    
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    font-family: Roboto, "Sans-serif";
    font-size: 14px;
    background-color: var(--second-accent-color);
    color:var(--main-color)
}

.list{
    list-style: none;
}
.limk{
    text-decoration: none;
}

/*-----------------LOGOS---------------------*/
.logo{
    color:var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.20;

    letter-spacing: 0.03em;
}
.logo-2{
    color:var(--title-text-color)
}
.logo-3{
    color:var(--second-accent-color)
}

/*-----------------Header-----------------*/
.title-head{
    font-weight: 500;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.17;
    color: var(--title-text-color);
}
.current{
    color: var(--accent-color);
}
.contacs-header-link{
    font-weight: 500;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.17;
    color:var(--main-color)
}

.contacs-header-link:hover,
.title-head:hover,
.title-head:focus,
.contacs-header-link:focus{
    color: var(--accent-color);
}

/*------------------------HERO SECTION-----------------*/
.section-hero{
    background-color: var(--background-secondary-colour);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    color: var(--second-accent-color);
}
.hero-button{
    display: inline-block;
    font-family: Roboto, "Sans-serif";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-accent-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border:0;
    border-radius: 3px;
}

.features-title{
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--title-text-color)

}
.feautures-discription{
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-color);
}
/*----------------------------ACTIVITY SECTION----------------------------*/
.activity-title{
    font-weight: bold;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color)
}

/*------------------------------TEAM SECTION--------------------------------------*/
.team{
    background-color: var(--team-section-background);
}
.team-title{
    font-weight: bold;
font-size: 36px;
line-height: calc(42 / 36);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color);


}
.team-item{
    background-color:var(--second-accent-color) ;
}
.team-name{
    font-weight: 500;
font-size: 16px;
line-height: calc(19 / 16);
text-align: center;
letter-spacing: 0.03em;
color:var(--title-text-color)
}
.team-profesion{
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-color)
}

/*---------------------------------FOOTER SECTION---------------------------*/

.footer{
    background-color:var(--background-secondary-colour);
}

.address-location{
    font-style: normal;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color:var(--second-accent-color)
    
}

.contacs-address{
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/*----------------------------PORTFOLIO SECTION-----------------------------*/

.button-port{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--team-section-background);
    cursor: pointer;
}

.button-port:hover,
.button-port:focus,.current-button:focus,.current-button:hover
{
    background-color: var(--accent-color);
    color:var(--second-accent-color)
}

.portfolio-card-title{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    color:var(--title-text-color);
    text-align: center;
    letter-spacing: 0.03em;
}

.portfolio-cards-text{
    font-size: 16px;
    line-height: calc(30 /16);
    color:inherit;
    letter-spacing: 0.03em;

}