
.activity{
    padding-bottom: 94px;

    &__title{
    font-weight: bold;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--title-text-color);

    margin-bottom: 50px;



  }
}

.activity-wrapper{
    position: relative;
    display: flex;
    align-items:flex-end;

    &__img{
        display: block;
        max-width: 100%;
    }
    
    &__overlay{
    position:absolute;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;


    width:100%;
    height:70px;
    text-align: center;




    font-weight: bold;
    font-size: 14px;
    line-height: calc(16/14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--second-accent-color);
    background-color: rgba(47, 48, 58, 0.8);

    }
}

.activity-list{
    display:flex;
    justify-content: center;

    &__item + &__item{
        margin-left:30px;
    }


}

