.clients{
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;
    }
    
    &__title{
         font-weight: bold;
         text-align: center;
         letter-spacing: 0.03em;
         color: var(--title-text-color);
         margin-bottom: 30px;

         font-size: 28px;
         line-height: 33px;
         /* identical to box height */


        @media (min-width:1200px){
              margin-bottom: 50px;
              font-size: 36px;
              line-height: 42px;
        }


    
    }
}
.clients-list{
    display: flex;
    flex-wrap: wrap;


    &__item{
    width:calc((100% - 30px) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--social-media-card-color);
    margin-bottom:30px;

    @media  (max-width:767px){
        &:nth-of-type(2n){
            margin-left: 30px;
            
      
      }

    }


    @media screen and (min-width: 768px) {
        width:calc((100% - 60px) / 3);
        &:nth-of-type(3n+2){
            margin-left: 30px;
            margin-right: 30px;
        }


        
    }
    @media (min-width: 1200px){
        width:calc((100% - 150px) / 6);
        & + &{
            margin-left: 30px;
            margin-right: 0;

        }
        &:first-child{
            margin-left: 0;
        }
    }
   
}

    &__link{
    color: var(--social-media-card-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color  250ms cubic-bezier(0.4, 0, 0.2, 1), color  250ms cubic-bezier(0.4, 0, 0.2, 1);

}
   &__link:hover,&__link:focus{
    color: var(--accent-color);
    cursor: pointer;
    border-color: var(--accent-color);
}
   &__logo{
    fill:currentColor
 }
}