

.hero{
    background-color: var(--background-secondary-colour);
    padding-bottom: 118px;
    padding-top: 118px;
    width:100%;
    height:400px;
    margin-left: auto;
    margin-right: auto;
    background-size:cover;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(/images/tel-hero.jpg);
    background-repeat: no-repeat;
  

  @media (min-resolution: 192dpi),(min-device-pixel-ratio: 2),
  (min-resolution: 2dppx){
    background-image:linear-gradient(
        rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(/images/tel-hero-2x.jpg);


    
  }
     @media screen and (min-width:480px) and (max-width: 767px){
         width: 480px;
         
     }
     @media  screen and (min-width:768px) and (max-width: 1199px){
         width:768px;
         height: 400px;
         background-image:linear-gradient(
            rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(/images/tab-hero.jpg); 
         
     }
    @media screen and (min-width: 1200px){
        max-width: 1600px;
        height: 600px;
        background-image:linear-gradient(
            rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(/images/image1.png); 
        padding-top: 200px;
        padding-bottom: 200px;

        
    }
    
    &__container{
        @media screen and (min-width: 1200px){
            width:696px;
        
            
        }
    
        text-align: center;
    }
    &__title{
        width: 360px;
        font-weight: 900;

        // font-size: 44px;
        // line-height: 1.36;
        font-size: 26px;
        line-height: calc(42 / 26);
        text-transform: uppercase;
        text-align: center;
        color: var(--second-accent-color);
    
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;
    
        letter-spacing: 0.06em;

        @media (min-width: 1200px){
               font-size: 44px;
               line-height: 1.36;
               width: 100%;
               height: 120px;
    }
}
    &__button{
        font-family: Roboto, "Sans-serif";
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
        letter-spacing: 0.06em;
        color: var(--second-accent-color);
        background-color: var(--accent-color);
        cursor: pointer;
        border:0;
        border-radius: 3px;
        padding-left: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 32px;
    }
  

    

}

