.header{
    border: 1px solid #ECECEC;
    &__container{
        display:flex;
        justify-content: space-between;

    }
}

.navigation{
    display:flex;
    align-items: center;
    margin-right: 84px;

}
.nav-list{
    display: none;
    margin-left: 93px;
    @media (miax-width:  1199px){
        width: 294px;
    }
    @media screen and (min-width:768px){
         display: flex;
        margin-left: 88px;
    }
    @media screen and(min-width: 1200px){
        margin-left: 93px;

        
    }


    &__item + &__item {
     margin-left:50px;
   }

   &__link{
    font-weight: 500;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    position: relative;

    @media screen and (min-width: 1200px){
         font-size: 16px;
        line-height: 1.17;
    }

    &:hover,&:focus{
        color:var(--accent-color);
    }
}
}

.contacs-header{
    display: none;
    margin-left: auto;
    @media (min-width: 768px){
          display:flex;
          flex-wrap:wrap;
    }
    @media screen and (min-width: 1200px){
        justify-content: center;
        align-items: center;
        
    }

   &__link{  
    font-weight: 500;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    color:var(--main-color);
    display:flex;
    align-items: center;

    padding-bottom: 32px;
    padding-top: 32px;
    transition: color  250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,&:focus{
        color:var(--accent-color);
    }
    @media screen and (min-width: 768px){
        padding-bottom: 0;
        padding-top: 0;
        
    }
    @media screen and (min-width: 1200px){
          font-size: 14px;
          line-height: 1.17;
          padding-top: 32px;
          padding-bottom: 32px;
        
    }
  }
  &__item{
    display: flex;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1199px){
        & + &{
            margin-top: 10px;
        }
        &:nth-child(1){
            padding-top: 21px;

        }
        &:last-child{
            padding-bottom: 21px;
        }

    }
    @media screen and (min-width: 1200px){
        & + &{
             margin-left: 50px;
             margin-top: 0;
            }

    }
  }
}
.mailbox{
    margin-right: 10px;
    fill: currentColor;


    &:hover,&:focus{
        fill:var(--accent-color);

    }
  
}
.icon-phone{
    margin-right: 10px;
    fill: currentColor;

    & + &{
        fill:var(--accent-color)
    }

}
.current-page-main{
    position: relative;


    &::after{
    content:"";
    background-color:var(--accent-color);
    border-radius: 2px;
    position: absolute;
    width:48px;
    height:4px;
    bottom:-1px;
    left:50%;
    transform: translateX(-50%);
  }
}
.current-page-port{
    position: relative;

    &::after{
    content:"";
    background-color:var(--accent-color);
    border-radius: 2px;
    position: absolute;
    width:78px;
    height:4px;
    bottom:-1px;
    left:50%;
    transform: translateX(-50%);
  }
}
.menu-button-open{
    border: none;
    background-color: transparent;

    @media  screen and (min-width: 768px) {
        display: none;
        
    }
}

.mob-menu{
    position:fixed;
    z-index: 1000;
    left:0;
    top:0;

    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    padding-right: 83px;
    padding-bottom: 48px;
    padding-left: 40px;
    background-color: var(--second-accent-color)
}
.mob-container{
  
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}
.menu-button-close{
    position: absolute;
    top: 10px;
    right:15px;
    fill: var(--title-text-color);
    border: none;
    background-color: transparent;

    &:hover,&:focus{
        color:var(--accent-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.menu-button-close__svg{
    fill:currentColor;
}
.nav-mob-list__link{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
    color:var(--title-text-color);

    &:hover, &:focus{
        color: var(--accent-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
.nav-mob-list__item + .nav-mob-list__item{
    margin-top: 32px;
}
.nav-mob-list{
   
}

.contacs-header-mob{
    margin-top: auto;
    margin-bottom: 64px;
}
.contacs-header-mob__phone{
    margin-bottom: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 24);
    /* identical to box height */
    
    letter-spacing: 0.02em;
    color:var(--main-color);
    &:hover, &:focus{
        color: var(--accent-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }
}

.contacs-header-mob__mail{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 / 24);
    letter-spacing: 0.02em;
    color:var(--main-color);

    &:hover, &:focus{
        color: var(--accent-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
} 
.social-mob{
    display: flex;
    align-items: center;
    justify-content: start;
    @media  (max-width:420px) {
        flex-wrap:wrap;
        
    }
   

}

.social-mob__item{
    margin-right: 10px;
    display: flex;
    align-items: center;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;

    &:last-child{
        margin-right: 0;
    }
    &:first-child{
        border-left: none;
        padding-left: 0;
    }
}
.social-mob__link{

     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: calc(22/ 18);
     /* identical to box height, or 122% */
     
     letter-spacing: 0.02em;
     color: var(--accent-color);

     &:hover, &:focus {
         color:var(--accent-color);
         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
}
.current{
    color: var(--accent-color);
}
// comment