
.logo{
    color:var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.20;

    letter-spacing: 0.03em;

    &--light{
        color:var(--second-accent-color);
    }
    
   &--dark{
       color: var(--title-text-color);
   }

}
.logo-header{
    color: var(--accent-color);
    padding-bottom: 24px;
    padding-top: 24px;
}
.logo--footer{
    margin-bottom: 20px;
    display: inline-block;
}