
.logo{
    color:var(--accent-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    font-family: Raleway;
    font-weight: bold;

    @media screen and (min-width: 1200px){
              font-size: 26px;
              line-height: 1.20;

    }

 

    

    &--light{
        color:var(--second-accent-color);
    }
    
   &--dark{
       color: var(--title-text-color);
   }

}
.logo-header{
    color: var(--accent-color);
    padding-bottom: 16px;
    padding-top: 16px;

    @media (min-width: 768px){
    padding-bottom: 26px;
    padding-top: 26px;
    }
}
.logo--footer{
    margin-bottom: 20px;
    display: inline-block;
    height: 28px;
    width: 154px;

}