h1,
h2,
h3,
h4,
h5,
h6{
    margin:0;
    padding:0;
}


img{
    display: block;
    max-width: 100%;

}
p{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
body{
    font-family: Roboto, "Sans-serif";
    font-size: 14px;
    background-color: var(--second-accent-color);
    color:var(--main-color)
}

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.limk{
    text-decoration: none;
}
.container{
    text-align: center;
    width:1200px;
    padding-right:15px;
    padding-left: 15px;
    margin: 0 auto;
  
    
}
.container--footer{
    text-align: left;
    width:1200px;
    padding-right:15px;
    padding-left: 15px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

