
:root{
    --main-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --second-accent-color: #ffffff;
    --background-secondary-colour: #2F303A;
    --team-section-background: #F5F4FA;
    --social-media-card-color:#AFB1B8;
    --darkest-black:#000000;

}